.head__title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #83888f;
    margin-bottom: 72px;
}

.head__subtitle {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 28px;
    line-height: 129%;
    color: #333d4b;
    margin-bottom: 22px;
}

.head__desc {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #333d4b;
    margin-bottom: 18px;
}

.head__item {
    text-align: center;
    margin-bottom: 80px;
    &::before {
        content: "";
        width: 42px;
        height: 50px;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("../img/map.svg");
        margin-bottom: 47px;
    }
}

@media screen and (min-width: 768px) {
    .head__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        align-items: center;
    }

    .head__item {
        text-align: start;
    }

    .head__subtitle {
        font-weight: 900;
        font-size: 24px;
        line-height: 150%;
    }

    .head__desc {
        margin-bottom: 5px;
    }

    .head__title {
        text-align: start;
    }
}

@media screen and (min-width: 1100px) {
    .head__list {
        gap: 231px;
    }

    .head__block {
        padding: 0 85px 0 85px;
    }
}
